{% extends 'shopify/layout.html'%}
{% block title %}
      Shopify-  About Us
{% endblock %}

{% block body %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Shopify</h1>
        <p>Shopify is Pakistan e-commerce company, headquartered in Karachi, Sindh, Pakistan, and incorporated in Pakistan as a private limited company. The company initially focused on online good sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Pakistann subsidiary and domestic rival Snapdeal.[8][9] As of March 2017, Shopify held a 39.5% market share of Pakistan's e-commerce industry.[10] Shopify has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.Shopify also owns PhonePe, a mobile payments service based on the Unified Payments Interface.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>



  </main>




{% endblock %}
